div{
    margin: auto;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h1{
    margin: 50px;
}
div>form{
    margin: 50px;
}
input{
    padding: 10px;
    
}
.submit{
    background-color: green;
    color: white;
    border-radius: 5px;
}